extends layout.pug

block content
  .ui.container
    h1.ui.header Clients
    a.ui.button(href="/clients/nouveau") Créer un nouveau client

    table.ui.table
      tbody
        each client in clients
          tr
            td.selectable
              a(href="/clients/"+client._id).class  #{client.prenom} #{client.nom}
            td.right.align.collapsing
              .ui.label #{client.solde.toFixed(2)} €
              if client.membre
                .ui.label
                  i.certificate.icon
                  | Toucan™
