<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Bonober
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous")
  body
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous")
    script(src="/static/script.js")

    block navbar
      .ui.pointing.menu
        .item.header Bonober
        a.item(href="/clients") Clients
        a.item(href="/produits") Produits
        //- a.item(href="/courses") Courses
        //- a.item(href="/statistiques") Statistiques
        .right.menu
          if !loggedIn
            a.item(href="/") Connexion
          else
            a.item(href="/deconnexion") Déconnexion
      
    block content